spring:
  h2:
    console.enabled: true
  jpa:
    database: H2
    generate-ddl: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
       show-sql: true
       dialect: org.hibernate.dialect.H2Dialect
  datasource:
    name: products
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:products;DATABASE_TO_UPPER=true;DB_CLOSE_DELAY=-1;
    username: testuser
    password: testpassword
  liquibase:
    change-log: classpath:/db/liquibase/master.xml
    enabled: true 
    user: testuser
    password: testpassword
    url: jdbc:h2:mem:products;DATABASE_TO_UPPER=true;DB_CLOSE_DELAY=-1;

  
    
   